@model ConsumeAPI.Models.PolicyDetailsModel


@{
    ViewData["Title"] = "policyDetailsView";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.default.min.css">
    <title>Funeralbiz</title>


    <style>


        .k-datepicker .k-input {
            height: 40px;
            line-height: 20px;
        }

        .k-dropdown-wrap .k-input {
            height: 40px;
            line-height: 40px;
        }

        .k-grid table thead th {
            background-color: var(--secondary-color);
            text-transform: uppercase;
            white-space: nowrap;
            font-weight: 400;
        }

        .k-grid table {
            border-collapse: collapse !important;
        }

            .k-grid table tbody td {
                color: black;
            }

        .k-alt {
            background-color: rgba(0, 0, 0, 0.05) !important;
        }

        .k-header {
            background-image: none !important;
            background-color: #4472c4; /* Combined background color */
        }

        .k-grid-header .k-header > .k-link {
            color: white !important;
        }

        .k-grid td, .k-grid-header, .k-widget {
            border-color: #dee2e6 !important;
        }

        .k-grid tr:hover {
            background-color: #f0f0f0 !important; /* Change to your desired hover color */
        }

        .k-window {
            border-radius: 50px;
            overflow: hidden;
        }

        .custom-button{
            background-color: #ef7f1b;
            color:white;
          
        }


        .k-list-scroller {
           
            overflow-y: scroll !important;
        }

        .k-list-filter {
            width: 150px; /* Adjust the width as needed */
        }

        .k-list {
            max-height: 200px; 
            overflow-y: auto;
        }

        .errormessage {
            border: 1px solid red; /* Example border color */
        }

        /* Add red color to validation messages */
        .k-tooltip-validation {
            color: red;
        }


     /*    .k-grid-edit-row > td > .k-widget:not(.k-switch), .k-grid-edit-row > td > .text-box {
            width: max-content;
            color: red;
            font-weight: bold;
        } */
    </style>
   
</head>

<body>


    <div class="dashaboard-main">
        <div class="container">
            <div class="dashaboard-content">
                <div class="dashaboard-inner">
                    <div class="page-header">
                        <div class="d-lg-flex">
                            <div class="flex-grow-1">
                                <h2 class="heading01 mb-3 mb-lg-0 text-lg-start text-center">Manage Policy</h2>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrapper">
                        <div class="d-lg-flex">
                            <div class="app-sidebar" tabindex="-1" id="offcanvassidebar">
                                <div class="offcanvas-header d-flex align-items-center justify-content-end d-none">
                                    <span class="text-white" data-bs-dismiss="offcanvas" aria-label="Close">
                                        <i class="bi bi-x-lg"></i>
                                    </span>
                                </div>
                                <div class="sidebar-inner">
                                    <div class="sidebar-list-item">
                                        <ul class="list-unstyled nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#Tab-1">
                                                    Policy
                                                    Details
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#Tab-2">
                                                    Policy Status
                                                    History
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#Tab-3">
                                                    Valued-Added
                                                    Services
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#Tab-4">
                                                    Policy Invoice &
                                                    Payment
                                                </a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Tab-5">Policy Claims</a></li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="content-area tab-content">
                                <div class="tab-pane active fade show" id="Tab-1">
                                    <div class="table-caption-top text-white mb-3">
                                        <h3 class="heading02 text-center">Policies Details</h3>
                                    </div>

                                    <form asp-controller="ManagePolicy" asp-action="policyDetailsView" method="post" id="policyForm">
                                        <div class="card card-globel p-4 border-0 mb-4">
                                            <div class="row">
                                                <div class="col-xl-3 col-md-6 my-2">
                                                    <div class="form-group">
                                                        <label asp-for="IntPolicyNum" class="form-label">Policy Number<strong style="color:red">*</strong></label>
                                                        <input asp-for="IntPolicyNum" class="form-control" id="policyNum" readonly>
                                                       @*  <span asp-validation-for="IntPolicyNum" class="text-danger"></span> *@
                                                    </div>
                                                    <script>
                                                        // Function to generate a random number between 1 and 10
                                                        function getRandomInt(min, max) {
                                                            return Math.floor(Math.random() * (max - min + 1)) + min;
                                                        }

                                                        // Set the random number to the input field on page load
                                                        $(document).ready(function () {
                                                            // Generate random number between 1 and 10
                                                            var randomNum = getRandomInt(1, 10);
                                                            // Set the generated number to the input field
                                                            $('#policyNum').val(randomNum);
                                                        });
                                                    </script>
                                                </div>
                                                <div class="col-xl-3 col-md-7 my-2">
                                                    <div class="form-group">
                                                        <label for="Planbrandname" class="form-label">Plan Brand<strong style="color:red">*</strong></label>
                                                        <select id="Planbrandname" class="form-control"></select>
                                                    </div>
                                                </div>

                                                <script>
                                                    $(document).ready(function () {
                                                        GetPlanBrandList();
                                                    });

                                                    function GetPlanBrandList() {
                                                        $.ajax({
                                                            url: "/ManagePolicy/GetPlanBrandList",
                                                            type: "GET",
                                                            success: function (data) {
                                                                CreateDropdown1(data, "Planbrandname");
                                                            },
                                                            error: function () {
                                                                $("#result").text("Error occurred while fetching Plan Brand data.");
                                                            }
                                                        });
                                                    }

                                                    function CreateDropdown1(data, id) {
                                                        const dropdown = document.getElementById(id);

                                                        if (data && data.length > 0) {
                                                            data.forEach(optionText => {
                                                                const option = document.createElement('option');
                                                                option.text = optionText.strPlanBrandName;
                                                                option.value = optionText.intPlanID;
                                                                dropdown.appendChild(option);
                                                            });
                                                        } else {
                                                            console.log("No data available for dropdown.");
                                                        }
                                                    }

                                                </script>



                                                <div class="col-xl-3 col-md-7 my-2">
                                                    <div class="form-group">
                                                        <label for="agentDropdown" class="form-label">Agent</label>
                                                        <select id="agentDropdown" class="form-control"></select>
                                                    </div>
                                                </div>

                                                <script>
                                                    $(document).ready(function () {
                                                        GetPolicyAgentList();
                                                    });

                                                    function GetPolicyAgentList() {
                                                        $.ajax({
                                                            url: "/ManagePolicy/GetPolicyAgentList",
                                                            type: "GET",
                                                            success: function (data) {
                                                                CreateDropdown(data, "agentDropdown", true);
                                                            },
                                                            error: function () {
                                                                $("#result").text("Error occurred while fetching agent data.");
                                                            }
                                                        });
                                                    }

                                                    function CreateDropdown(data, id, flag) {
                                                        const dropdown = document.getElementById(id);

                                                        if (data && data.length > 0) {
                                                            data.forEach(optionText => {
                                                                const option = document.createElement('option');
                                                                if (flag) {
                                                                    option.text = optionText.strAgentNameID;
                                                                    option.value = optionText.strAgentID;
                                                                }
                                                                dropdown.appendChild(option);
                                                            });
                                                        } else {
                                                            console.log("No data available for dropdown.");
                                                        }
                                                    }
                                                </script>


                                                <div class="col-xl-3 col-md-6 my-2">
                                                    <div class="form-group">
                                                        <label class="form-label">%Comm Rate:</label>
                                                        <input type="email" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-5 my-2">
                                                    <div class="form-group position-relative">
                                                        <label for="datepicker1" class="form-label">Date Opened:<strong style="color:red">*</strong></label>
                                                        <input class="form-control" id="datepicker1" style="width: 100%;" />

                                                    </div>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#datepicker1").kendoDatePicker({
                                                            animation: false,
                                                            size: "large",
                                                            innerWidth: "20px",
                                                            format: "yyyy-MM-dd",
                                                            value: new Date(),
                                                            height: 20

                                                        });
                                                    });
                                                </script>

                                                <div class="col-xl-3 col-md-5 my-2">
                                                    <div class="form-group position-relative">
                                                        <label asp-for="DatInceptionDate" for="datepicker2" class="form-label">Inception Date:<strong style="color:red">*</strong></label>
                                                        <input asp-for="DatInceptionDate" class="form-control" id="datepicker2" style="width: 100%;" />
                                                        <span asp-validation-for="DatInceptionDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#datepicker2").kendoDatePicker({
                                                            animation: false,
                                                            size: "large",
                                                            format: "yyyy-MM-dd" // Example format, adjust as needed

                                                        });
                                                    });
                                                </script>


                                                <div class="col-xl-3 col-md-5 my-2">
                                                    <div class="form-group position-relative">
                                                        <label asp-for="DatDateClosed" for="datepicker3" class="form-label">Date Closed:<strong style="color:red">*</strong></label>
                                                        <input asp-for="DatDateClosed" class="form-control" id="datepicker3" style="width: 100%;" />
                                                        <span asp-validation-for="DatDateClosed" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {

                                                        $("#datepicker3").kendoDatePicker({
                                                            animation: false,
                                                            size: "large",
                                                            format: "yyyy-MM-dd"// Example format, adjust as needed

                                                        });
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </form>


                                    <div class="page-header">
                                        <div class="d-lg-flex">
                                            <div class="flex-grow-1">
                                                <h2 class=" font-weight-bold mb-3 mb-lg-0 text-lg-start text-center">Policies Member</h2>
                                            </div>
                                            <div class="col-auto">
                                                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-end">
                                                    <div class="dropdown filter-area mb-3 mb-lg-0">
                                                        <button class="btn shadow-none" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                            <i class="bi bi-funnel-fill"></i> Filter
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                                                            <li><a href="" class="dropdown-item">Action</a></li>
                                                            <li><a href="" class="dropdown-item">Another action</a></li>
                                                            <li><a href="" class="dropdown-item">Something else here</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="d-flex flex-column flex-lg-row align-items-stretch top-search-area ms-lg-4">
                                                        <input id="searchInput" type="text" class="form-control" placeholder="Search Policy">
                                                    </div>




                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="policydetails" style="margin-top:20px;"></div>
                                  

                                    <script>
                                        $(function () {
                                            var gridDataSource1 = new kendo.data.DataSource({
                                                transport: {                                             
                                                    read: function (options) {
                                                        $.ajax({
                                                            url: '/ManagePolicy/Getpolicymembers',
                                                            type: 'GET',
                                                            dataType: 'json',
                                                            success: function (response) {
                                                              
                                                                options.success(response);

                                                            },
                                                            error: function (xhr, status, error) {
                                                                console.error("Error reading data from the server:", error);
                                                                options.error(xhr, status, error);
                                                            }
                                                        });
                                                    },
                                                    create: function (options) {
                                                        console.log("Data sending to server: ", options.data);


                                                        $.ajax({
                                                            url: '/ManagePolicy/CreatePolicyMember',
                                                            type: 'POST',
                                                            data: JSON.stringify(options.data),
                                                            contentType: 'application/json; charset=utf-8',
                                                            success: function (response) {
                                                                console.log("Data sent to server:", response);
                                                                options.success(response);
                                                                gridDataSource1.add(options.data);
                                                                gridDataSource1.sync();
                                                                $("#policydetails").data("kendoGrid").dataSource.read();
                                                            },
                                                            error: function (xhr, status, error) {
                                                                console.error("Error sending data to the server:", error);
                                                                options.error(xhr, status, error);
                                                            }
                                                        });
                                                    },
                                                },
                                                pageSize: 7,
                                                schema: {
                                                    model: {
                                                        id: "intProfileID",
                                                        fields: {
                                                            intMemberTypeID: { type: "number" },
                                                            strMemberType: { type: "string" },
                                                            strIDPPNum: { type: "string" },
                                                            strMemberName: { type: "string",/*  editable: false, nullable: true */ },
                                                            datBirthDate: { type: "date", /* editable: false, nullable: true */ },
                                                            intAge_Calc: { type: "number", /* editable: false, nullable: true */ },
                                                            monPremiumAmt: { type: "number", /* editable: false, nullable: true */ },
                                                            monCoverAmt: { type: "number", /* editable: false, nullable: true  */},
                                                            datDateEnrolled: { type: "date" },
                                                            coverStatus: { type: "string", editable: false, nullable: true },
                                                            strRelationshipToMainMember: { type: "string" },
                                                            strBeneficiaryNameID: { type: "string" },
                                                            strBenRelationshipToPolMember: { type: "string" },
                                                            intBenProfileID: {type : "number"},
                                                            intBenRelationshipID: {type: "number"},
                                                            bitConsentRecvdYN: { type: "boolean" },
                                                            intRelationshipID: { type: "number" },
                                                            strRelationship: { type: "string" },
                                                            intProfileID: { type: "number" },
                                                            strName: { type: "string" },
                                                            strIDPPNum: { type: "number" }
                                                                                                    
                                                                                                    
                                                        }
                                                    }
                                                }
                                            });

                                           


                                           var grid =  $("#policydetails").kendoGrid({
                                                dataSource: gridDataSource1,
                                                height: 350,
                                                sortable: true,
                                                filterable: true,
                                                editable: "inline",
                                                scrollable: true,
                                               
                                                aggregate: [{ field: "intAgeToday", aggregate: "count" }],
                                                columns: [
                                                    {
                                                        command: [
                                                            {
                                                                name: "edit",
                                                                template: "<a class='icon-pencil k-button-icontext k-grid-edit fa-lg' ><i class='fa fa-pencil-square-o '></i></a>",                                    
                                                                iconClass: { update: "fa fa-save fa-xl", cancel: "fa fa-close fa-lg" },
                                                            },
                                                            {
                                                                name: "destroy",
                                                                template: "<a class='icon-delete k-button-icontext k-grid-delete fa-lg'><i class='fa fa-trash'></i></a>"
                                                            }
                                                        ],
                                                       
                                                        title: "&nbsp;",
                                                        width: "150px"
                                                    },


                                                   
                                                    {
                                                        field: "intMemberTypeID",
                                                        title: "Member Type",     
                                                        width: "250px",
                                                        template: function (dataItem) {
                                                            var dynamicContent = "";

                                                            $.ajax({
                                                                url: "/ManagePolicy/GetMemberTypeList",
                                                                method: "GET",
                                                                dataType: "json",
                                                                async: false,
                                                                success: function (response) {
       
                                                                    response.forEach(function (item) {
                                                                        if (dataItem.intMemberTypeID === item.intMemberTypeID) {
                                                                            dynamicContent = item.strMemberType;
                                                                        }
                                                                    });
                                                                },
                                                                error: function (xhr, status, error) {
                                                                    console.error("Error:", error);
                                                                }
                                                            });

                                                            return '<div>' + dynamicContent + '</div>';
                                                        },
                                                       
                                                        editor: function(container, options) {
                                                           
                                                            $('<input data-bind="value:' + options.field + '"/>')
                                                                .attr('id', 'strMemberType')
                                                                .appendTo(container)
                                                                .kendoDropDownList({
                                                                    rounded: "large",
                                                                    optionLabel: 'Select Member Type',
                                                                    dataTextField: "strMemberType",
                                                                    dataValueField: "intMemberTypeID",
                                                                    dataSource: {
                                                                        transport: {
                                                                            read: {
                                                                                url: "/ManagePolicy/GetMemberTypeList",
                                                                                dataType: "json"
                                                                            }
                                                                        }
                                                                    },
                                                                    change: function() {
                                                                        fetchDataAndUpdateOtherFields();
                                                                    }
                                                                });
                                                        }
                                                    },
                                                    {
                                                        field: "bitConsentRecvdYN",
                                                        title: "Consent Received",
                                                        width: "150px",
                                                        template: function (dataItem) {
                                                           
                                                            return '<div class="form-check form-switch">' +
                                                                '<input class="form-check-input" type="checkbox" ' + (dataItem.bitConsentRecvdYN ? 'checked' : '') + ' disabled>' +
                                                                '<label class="form-check-label" for="flexSwitchCheckDefault2"></label>' +
                                                                '</div>';
                                                        },
                                                        editor: function (container, options) {
                                                            
                                                            $('<div class="form-check form-switch">' + '<input class="form-check-input" type="checkbox" name="' + options.field + '" data-type="boolean" />' + '<label class="form-check-label" for="flexSwitchCheckDefault2"></label>' +
                                                                '</div>').appendTo(container);
                                                        }
                                                    },



                                                    {
                                                        field: "intProfileID", title: "IDPP Number", type: "string", width: "400px",
                                                        template: function (dataItem) {
                                                            var dynamicContent = "";

                                                            $.ajax({
                                                                url: "/ManagePolicy/GetIDPPNumberList",
                                                                method: "GET",
                                                                dataType: "json",
                                                                async: false,
                                                                success: function (response) {
                                                                  
                                                                 
                                                                    response.forEach(function (item) {
                                                                        if (dataItem.intProfileID === item.intProfileID) {
                                                                            dynamicContent = item.strIDPPNum;
                                                                        }
                                                                    });
                                                                },
                                                                error: function (xhr, status, error) {
                                                                    console.error("Error:", error);
                                                                }
                                                            });

                                                            return '<div>' + dynamicContent + '</div>';
                                                        },
                                                        editor: function (container, options) {
                                                           
                                                            $('<input data-bind="value:' + options.field + '"/>')
                                                                .attr('id', 'strIDPPNum')
                                                                .appendTo(container)
                                                                .kendoDropDownList({
                                                                    rounded: "large",
                                                                    optionLabel: 'Select Relationship Type',
                                                                    dataTextField: "strIDPPNum",
                                                                    dataValueField: "intProfileID",
                                                                    template: '<span>#: data.strName # - #: data.strIDPPNum #</span>',
                                                                    filter: "contains",                                                     
                                                                    dataSource: {
                                                                        transport: {
                                                                            read: {
                                                                                url: "/ManagePolicy/GetIDPPNumberList",
                                                                                dataType: "json"
                                                                            }
                                                                        },
                                                                     
                                                                        
                                                                    },
                                                                    change: function () {
   
                                                                        fetchDataAndUpdateOtherFields( );
                                                                    },

                                                                });
                                                        }
                                                    },
                                                    { field: "strMemberName", title: "Member Name", type: "string", width: "200px", editable: false },
                                                    { field: "datBirthDate", title: "Birth Date", type: "date", format: "{0:yyyy-MM-dd}", width: "200px", editable: false },
                                                    { field: "intAge_Calc", title: "Age", type: "number", width: "200px", editable: false },
                                                    { field: "monPremiumAmt", title: "Premium Amount", type: "number", width: "200px" },
                                                    { field: "monCoverAmt", title: "Cover Amount", type: "number", width: "200px" },
                                                    { field: "datDateEnrolled", title: "Date Enrolled", type: "date", format: "{0:yyyy-MM-dd}", width: "200px" },
                                                    { field: "coverStatus", title: "Cover Status", type: "string", width: "200px" },


                                                    {
                                                        field: "intRelationshipID",
                                                        title: "Relationship Main Member",
                                                       
                                                        width: "270px",
                                                        template: function (dataItem) {
                                                            var dynamicContent = "";

                                                            $.ajax({
                                                                url: "/ManagePolicy/GetRelationshipList",
                                                                method: "GET",
                                                                dataType: "json",
                                                                async: false,
                                                                success: function (response) {
                                                                   
                                                                   
                                                                    response.forEach(function (item) {
                                                                        if (dataItem.intRelationshipID === item.intRelationshipId) {
                                                                            dynamicContent = item.strRelationship;
                                                                        }
                                                                    });
                                                                },
                                                                error: function (xhr, status, error) {
                                                                    console.error("Error:", error);
                                                                }
                                                            });

                                                            return '<div>' + dynamicContent + '</div>';
                                                        },
                                                        editor: function (container, options) {
                                                           
                                                            $('<input data-bind="value:' + options.field + '"/>')
                                                                .appendTo(container)
                                                                .kendoDropDownList({
                                                                    rounded: "large",
                                                                    optionLabel: 'Select Relationship Type',
                                                                    dataTextField: "strRelationship",
                                                                    dataValueField: "intRelationshipId",
                                                                 
                                                                    dataSource: {
                                                                        transport: {
                                                                            read: {
                                                                                url: "/ManagePolicy/GetRelationshipList",
                                                                                dataType: "json"
                                                                            }
                                                                        }
                                                                       
                                                                    }
                                                                   
                                                                   
                                                                });
                                                        }
                                                    },


                                                    
                                                    {
                                                        field: "intBenProfileID", title: "Beneficiary Name ID", width: "270px",
                                                        template: function (dataItem) {
                                                            var dynamicContent = "";

                                                            $.ajax({
                                                                url: "/ManagePolicy/GetIDPPNumberList",
                                                                method: "GET",
                                                                dataType: "json",
                                                                async: false,
                                                                success: function (response) {
                                                                   
                                                                   
                                                                    response.forEach(function (item) {
                                                                        if (dataItem.intBenProfileID === item.intProfileID) {
                                                                            dynamicContent = item.strName;
                                                                        }
                                                                    });
                                                                },
                                                                error: function (xhr, status, error) {
                                                                    console.error("Error:", error);
                                                                }
                                                            });

                                                            return '<div>' + dynamicContent + '</div>';
                                                        },

                                                       editor: function(container, options) {

                                                            $('<input data-bind="value:' + options.field + '"/>')
                                                                .appendTo(container)
                                                                .kendoDropDownList({
                                                                    rounded: "large",
                                                                    optionLabel: 'Select Beneficiary',
                                                                    dataTextField: "strName",
                                                                    dataValueField: "intProfileID",
                                                                    filter: "contains",
                                                                    dataSource: {
                                                                        transport: {
                                                                            read: {
                                                                                url: "/ManagePolicy/GetIDPPNumberList",
                                                                                dataType: "json"
                                                                            }
                                                                        },
                                                                      

                                                                    }


                                                                });
                                                        }
                                                    
                                                    },


                                                    {
                                                        field: "intBenRelationshipID", title: "Beneficiary Relationship", width: "280px",

                                                        template: function (dataItem) {
                                                            var dynamicContent = "";

                                                            $.ajax({
                                                                url: "/ManagePolicy/GetRelationshipList",
                                                                method: "GET",
                                                                dataType: "json",
                                                                async: false,
                                                                success: function (response) {
                                                                   
                                                                    response.forEach(function (item) {
                                                                        if (dataItem.intBenRelationshipID === item.intRelationshipId) {
                                                                            dynamicContent = item.strRelationship;
                                                                        }
                                                                    });
                                                                },
                                                                error: function (xhr, status, error) {
                                                                    console.error("Error:", error);
                                                                }
                                                            });

                                                            return '<div>' + dynamicContent + '</div>';
                                                        },
                                                        editor: function (container, options) {
                                                            let encode = kendo.htmlEncode;
                                                            $('<input data-bind="value:' + options.field + '"/>')
                                                                .appendTo(container)
                                                                .kendoDropDownList({
                                                                    rounded: "large",
                                                                    optionLabel: 'Select Benf. Relationship Type',
                                                                    dataTextField: "strRelationship",
                                                                    dataValueField: "intBenRelationshipID",
                                                                    footerTemplate: ({ instance }) => `Total <strong>${encode(instance.dataSource.total())}</strong> items found`,
                                                                    dataSource: {
                                                                        transport: {
                                                                            read: {
                                                                                url: "/ManagePolicy/GetRelationshipList",
                                                                                dataType: "json"
                                                                            }
                                                                        }
                                                                       
                                                                    }
                                                                   
                                                                });
                                                        }
                                                    }
                                                ],
                                                
                                                toolbar: [
                                                    {
                                                        name: "create",
                                                        template: "<a class='k-button k-button-icontext k-grid-add' style='background-color: darkorange;'><i class='fa fa-plus'></i>Add New Record</a>"
                                                    }
                                                ]
                                               
                                            }).data("kendoGrid")

                                           

                                            $("#searchInput").on("input", function () {
                                                var value = $(this).val().toLowerCase();
                                                grid.dataSource.filter({
                                                    logic: "or",
                                                    filters: [
                                                        { field: "strMemberName", operator: "contains", value: value }
                                                    ]
                                                });
                                            });
                                        });





                                        function fetchDataAndUpdateOtherFields() {
                                            var selectedMemberTypeID = $("#strMemberType").data("kendoDropDownList").value();
                                            var selectedProfileID = $("#strIDPPNum").data("kendoDropDownList").value();

                                            console.log(selectedMemberTypeID);
                                            console.log(selectedProfileID);

                                            if (selectedMemberTypeID && selectedProfileID) {
                                                $.ajax({
                                                    url: "/ManagePolicy/GetCorrespondingData",
                                                    type: "GET",
                                                    data: { memberTypeID: selectedMemberTypeID, profileID: selectedProfileID },
                                                    dataType: "json",
                                                    success: function (data) {
                                                        console.log("Received data:", data);

                                                        debugger;
                                                        var grid = $("#policydetails").data("kendoGrid");
                                                        if (grid) {
                                                            var rowData = data[0];
                                                            var currentRow = grid.tbody.find(">tr.k-grid-edit-row");
                                                            if (currentRow.length === 0) {
                                                                currentRow = grid.addRow();
                                                            }
                                                            currentRow.find("input[name='strMemberName']").val(rowData.fullName);
                                                            currentRow.find("input[name='datBirthDate']").val(formatDate(rowData.birthDate));
                                                            currentRow.find("input[name='intAge_Calc']").val(rowData.age);
                                                            currentRow.find("input[name='monPremiumAmt']").val(rowData.monPremiumAmtMU);
                                                            currentRow.find("input[name='monCoverAmt']").val(rowData.monCoverAmtMU);

                                                            grid.closeCell(currentRow);
                                                        } else {
                                                            console.error("Grid not found or initialized.");
                                                        }
                                                    },
                                                    error: function (xhr, status, error) {
                                                        console.error("Error fetching data:", error);
                                                    }
                                                });
                                            } else {
                                                console.error("Selected member type ID or profile ID is empty.");
                                            }
                                        }


                                        function formatDate(dateString) {
                                           
                                            var date = new Date(dateString);
                                            var year = date.getFullYear();
                                            var month = ('0' + (date.getMonth() + 1)).slice(-2); 
                                            var day = ('0' + date.getDate()).slice(-2);
                                            var formattedDate = year + '-' + month + '-' + day;
                                            return formattedDate;
                                        }


                                    </script>


                                 


                                    @* <ul class="pagination justify-content-between">
                                        <li class="page-item ms-auto">
                                            <a href="#" class="btnNext">
                                                <span class="me-2">Next <i class="fas fa-arrow-right"></i></span>                             
                                            </a>
                                        </li>
                                    </ul> *@

                                    <div class="container">
                                        <div class="row justify-content-end">
                                            <div class="col-auto pt-2">
                                                <button type="button" class="btn btn-primary btnNext" id="submitButton">
                                                    NEXT <i class="fas fa-arrow-right"></i>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        // Use getElementsByClassName (note the plural 'Elements')
                                        var btnNextElements = document.getElementsByClassName("btnNext");

                                        // Iterate over all elements with class "btnNext" and add event listener
                                        for (var i = 0; i < btnNextElements.length; i++) {
                                            btnNextElements[i].addEventListener("click", function (event) {
                                                event.preventDefault();

                                                if (document.getElementById("policyform").checkValidity()) {
                                                    document.getElementById("policyform").submit();
                                                } else {
                                                    alert("Form is not valid!");
                                                }
                                            });
                                        }
                                    </script>


                                </div>




                               
                                @Html.Partial("policyHistorypartialview")

                                @Html.Partial("policyValueAddedServicepartialview")

                                @Html.Partial("policyInvoiceandPaymentspartialview")


                                @Html.Partial("policyClaimspartialView")
                               








                               

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="https://kendo.cdn.telerik.com/2022.1.301/js/kendo.all.min.js"></script>

    @*  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    @* <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script> *@




</body>

</html>

