
@{
    ViewData["Title"] = "rahul";
}

!<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    </title></head>
    <body>
    <h2>rahul</h2>

   



    </body>
</html>




