
@{
    ViewData["Title"] = "policyDetails";
}



<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

   
    <title>Funeralbiz</title>
</head>

<body>
  
    <div class="dashaboard-main">
        <div class="container">
            <div class="dashaboard-content">
                <div class="dashaboard-inner">
                    <div class="page-header">
                        <div class="d-lg-flex">
                            <div class="flex-grow-1">
                                <h2 class="heading01 mb-3 mb-lg-0 text-lg-start text-center">Manage Policy</h2>
                            </div>
                        </div>
                    </div>

                    <div class="content-wrapper">
                        <div class="d-lg-flex">
                            <div class="app-sidebar" tabindex="-1" id="offcanvassidebar">
                                <div class="offcanvas-header d-flex align-items-center justify-content-end d-none">
                                    <span class="text-white" data-bs-dismiss="offcanvas" aria-label="Close">
                                        <i class="bi bi-x-lg"></i>
                                    </span>
                                </div>
                                <div class="sidebar-inner">
                                    <div class="sidebar-list-item">
                                        <ul class="list-unstyled nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#Tab-1">
                                                    Policy
                                                    Details
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#Tab-2">
                                                    Policy Status
                                                    History
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#Tab-3">
                                                    Valued-Added
                                                    Services
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#Tab-4">
                                                    Policy Invoice &
                                                    Payment
                                                </a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Tab-5">Policy Claims</a></li>
                                            </li>
                                            <button type="button" class="btn btn-primary" id="alertButton">Check</button>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="content-area tab-content">
                                <div class="tab-pane active fade show" id="Tab-1">
                                    <div class="table-caption-top text-white mb-3">
                                        <h3 class="heading02 text-center">Policies Details</h3>
                                    </div>
                                    <div class="card card-globel p-4 border-0 mb-4">
                                        <div class="row">
                                            <div class="col-xl-3 col-md-6 my-2">
                                                <div class="form-group">
                                                    <label class="form-label">Policy Number:*</label>
                                                    <input type="email" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6 my-2">
                                                <div class="form-group">
                                                    <label class="form-label">Plan Brand Name:*</label>
                                                    <select class="form-select">
                                                        <option value="1">Select Plan Brand Name</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6 my-2">
                                                <div class="form-group">
                                                    <label class="form-label">Agent</label>
                                                    <select class="form-select">
                                                        <option value="1">Select Agent</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6 my-2">
                                                <div class="form-group">
                                                    <label class="form-label">%Comm Rate:</label>
                                                    <input type="email" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6 my-2">
                                                <div class="form-group position-relative">
                                                    <label class="form-label">Date Opened:*</label>
                                                    <input type="text" class="form-control filed-datepicker" id="datepicker1">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6 my-2">
                                                <div class="form-group">
                                                    <label class="form-label">Inception Data:*</label>
                                                    <input type="text" class="form-control filed-datepicker" id="datepicker2">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-md-6 my-2">
                                                <div class="form-group">
                                                    <label class="form-label">Date Closed:</label>
                                                    <input type="text" class="form-control filed-datepicker" id="datepicker3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-header">
                                        <div class="d-lg-flex">
                                            <div class="flex-grow-1">
                                                <h2 class="heading01 mb-3 mb-lg-0 text-lg-start text-center">Policies Member</h2>
                                            </div>
                                            <div class="col-auto">
                                                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-end">
                                                    <div class="dropdown filter-area mb-3 mb-lg-0">
                                                        <button class="btn shadow-none" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                            <i class="bi bi-funnel-fill"></i> Filter
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                                                            <li><a href="" class="dropdown-item">Action</a></li>
                                                            <li><a href="" class="dropdown-item">Another action</a></li>
                                                            <li><a href="" class="dropdown-item">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="d-flex flex-column flex-lg-row align-items-stretch top-search-area ms-lg-4">
                                                        <input type="text" class="form-control" placeholder="Search Policy">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-main">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>Member Type</th>
                                                    <th>ID/Passport No*</th>
                                                    <th>Member Name</th>
                                                    <th>Date of Birth</th>
                                                    <th>Age</th>
                                                    <th>Premium*</th>
                                                    <th>Cover*</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="" class="icon-pencil"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="" class="icon-delete"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                    <td>Main Member</td>
                                                    <td>16027225351081</td>
                                                    <td>Taylor JT</td>
                                                    <td>1977-07-23</td>
                                                    <td>46</td>
                                                    <td>R70.00</td>
                                                    <td>R10,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="" class="icon-pencil"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="" class="icon-delete"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                    <td>Spouse Member</td>
                                                    <td>16027225351081</td>
                                                    <td>Taylor AM</td>
                                                    <td>1977-07-23</td>
                                                    <td>41</td>
                                                    <td>R0.00</td>
                                                    <td>R1,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="" class="icon-pencil"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a href="" class="icon-delete"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                    <td>Child Member</td>
                                                    <td>16027225351081</td>
                                                    <td>Taylor BL</td>
                                                    <td>1977-07-23</td>
                                                    <td>07</td>
                                                    <td>R0.00</td>
                                                    <td>R1,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex gap-2 text-center">
                                                            <a href="" class="btn-save">
                                                                <svg width="18" height="17" viewBox="0 0 18 17" fill="currentcolor">
                                                                    <path d="M3.89685 3.6C3.89685 4.566 4.68085 5.35 5.64685 5.35H11.6468C12.111 5.35 12.5561 5.16563 12.8843 4.83744C13.2125 4.50925 13.3968 4.06413 13.3968 3.6V0.276001C13.3968 0.124001 13.5208 7.91924e-07 13.6728 7.91924e-07C13.745 -0.000127599 13.8163 0.015357 13.8819 0.0453919C13.9475 0.0754268 14.0058 0.1193 14.0528 0.174001L17.0159 3.629C17.4262 4.10775 17.6406 4.72391 17.6159 5.354L17.2739 14.098C17.2485 14.7434 16.9744 15.3539 16.5089 15.8017C16.0435 16.2495 15.4227 16.4997 14.7768 16.5H14.3978C14.2652 16.5 14.1381 16.4473 14.0443 16.3536C13.9505 16.2598 13.8978 16.1326 13.8978 16V11C13.8978 10.5359 13.7135 10.0908 13.3853 9.76256C13.0571 9.43437 12.612 9.25 12.1479 9.25H5.14785C4.91795 9.24987 4.69028 9.29504 4.47785 9.38293C4.26541 9.47081 4.07237 9.5997 3.90977 9.76221C3.74716 9.92473 3.61816 10.1177 3.53016 10.3301C3.44215 10.5425 3.39685 10.7701 3.39685 11V16C3.39685 16.1326 3.34417 16.2598 3.2504 16.3536C3.15664 16.4473 3.02946 16.5 2.89685 16.5H2.75985C2.17788 16.5001 1.61586 16.288 1.17904 15.9034C0.742215 15.5189 0.460569 14.9883 0.38685 14.411C-0.106936 10.553 -0.128092 6.64914 0.32385 2.786L0.38385 2.266C0.456894 1.64178 0.756658 1.06613 1.2262 0.648391C1.69575 0.230647 2.30237 -9.14573e-05 2.93085 7.91924e-07H3.39685C3.52946 7.91924e-07 3.65664 0.0526793 3.7504 0.146447C3.84417 0.240216 3.89685 0.367393 3.89685 0.500001V3.6Z"
                                                                          fill="currentcolor" />
                                                                    <path d="M5.25 16C5.25 16.1326 5.30268 16.2598 5.39645 16.3536C5.49021 16.4473 5.61739 16.5 5.75 16.5H12.25C12.3826 16.5 12.5098 16.4473 12.6036 16.3536C12.6973 16.2598 12.75 16.1326 12.75 16V11C12.75 10.9337 12.7237 10.8701 12.6768 10.8232C12.6299 10.7763 12.5663 10.75 12.5 10.75H5.5C5.4337 10.75 5.37011 10.7763 5.32322 10.8232C5.27634 10.8701 5.25 10.9337 5.25 11V16ZM12.25 0.5C12.25 0.367392 12.1973 0.240215 12.1036 0.146447C12.0098 0.0526785 11.8826 0 11.75 0H6.25C6.11739 0 5.99021 0.0526785 5.89645 0.146447C5.80268 0.240215 5.75 0.367392 5.75 0.5V3.6C5.75 3.738 5.862 3.85 6 3.85H12C12.0663 3.85 12.1299 3.82366 12.1768 3.77678C12.2237 3.72989 12.25 3.6663 12.25 3.6V0.5Z"
                                                                          fill="currentcolor" />
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="table-select">
                                                            <select class="form-select">
                                                                <option value="1">Select Member Type</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="table-select">
                                                            <select class="form-select">
                                                                <option value="1">Select Member ID/PP</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item ms-auto">
                                            <a href="#" class="btnNext">
                                                <span class="me-2">Next</span>
                                                <svg width="32" height="24" viewBox="0 0 32 24" fill="currentColor"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M31.5061 22.9164V1.0284L31.5065 1.0264L31.5061 1.0244V0.930402H31.4965C31.4733 0.679676 31.3574 0.446613 31.1715 0.276773C30.9856 0.106933 30.7431 0.0125247 30.4913 0.0120026C30.4793 0.0120026 30.4681 0.0152021 30.4565 0.0156021H28.6289C28.6005 0.0132021 28.5729 0.00720215 28.5437 0.00720215C28.2745 0.00730816 28.0165 0.114258 27.8262 0.304547C27.6359 0.494836 27.529 0.752893 27.5289 1.022C27.5289 1.0688 27.5365 1.114 27.5429 1.1592V10.4156L14.2065 2.7156C14.1114 2.6216 13.9909 2.55744 13.8598 2.531C13.7287 2.50457 13.5928 2.51703 13.4687 2.56684C13.3446 2.61664 13.2377 2.70163 13.1613 2.81135C13.0849 2.92107 13.0422 3.05074 13.0385 3.1844H13.0361V9.284L1.65926 2.7152C1.56416 2.6212 1.44366 2.55704 1.31259 2.53061C1.18151 2.50418 1.04556 2.51663 0.921467 2.56644C0.797373 2.61625 0.690541 2.70123 0.614108 2.81095C0.537675 2.92067 0.494975 3.05034 0.491258 3.184H0.489258V20.7964C0.489451 20.933 0.530331 21.0664 0.606682 21.1796C0.683033 21.2929 0.79139 21.3808 0.917927 21.4321C1.04446 21.4835 1.18344 21.496 1.31712 21.4681C1.45079 21.4401 1.57311 21.373 1.66846 21.2752L13.0361 14.712V20.7968C13.0363 20.9334 13.0771 21.0668 13.1535 21.18C13.2298 21.2933 13.3382 21.3812 13.4647 21.4325C13.5913 21.4839 13.7302 21.4964 13.8639 21.4685C13.9976 21.4405 14.1199 21.3734 14.2153 21.2756L27.5429 13.5808V22.9336H27.5481C27.5473 22.9492 27.5433 22.9636 27.5433 22.9792C27.5434 23.2479 27.6501 23.5056 27.8399 23.6958C28.0298 23.886 28.2873 23.9931 28.5561 23.9936H30.4969V23.984C30.6301 23.984 30.7621 23.9578 30.8852 23.9068C31.0083 23.8558 31.1202 23.781 31.2144 23.6868C31.3087 23.5925 31.3834 23.4807 31.4344 23.3575C31.4854 23.2344 31.5117 23.1025 31.5117 22.9692C31.5113 22.9508 31.5069 22.934 31.5061 22.9164Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="Tab-2">
                                    <p>Tab-2</p>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, laboriosam! Cumque blanditiis
                                        molestias, corrupti deleniti natus perferendis dignissimos fuga illum tempore earum esse explicabo
                                        quia quam animi libero consectetur repudiandae!
                                    </p>
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item me-auto">
                                            <a href="#" class="btnPrevious">
                                                <svg width="32" height="24" viewBox="0 0 32 24" fill="currentColor">
                                                    <path d="M0.494003 22.9164V1.0284L0.493603 1.0264L0.494003 1.0244V0.930402H0.503603C0.526802 0.679676 0.642672 0.446613 0.828564 0.276773C1.01446 0.106933 1.25701 0.0125247 1.5088 0.0120026C1.5208 0.0120026 1.532 0.0152021 1.5436 0.0156021H3.3712C3.3996 0.0132021 3.4272 0.00720215 3.4564 0.00720215C3.72551 0.00730816 3.98357 0.114258 4.17386 0.304547C4.36415 0.494836 4.4711 0.752893 4.4712 1.022C4.4712 1.0688 4.4636 1.114 4.4572 1.1592V10.4156L17.7936 2.7156C17.8887 2.6216 18.0092 2.55744 18.1403 2.531C18.2714 2.50457 18.4073 2.51703 18.5314 2.56684C18.6555 2.61664 18.7623 2.70163 18.8388 2.81135C18.9152 2.92107 18.9579 3.05074 18.9616 3.1844H18.964V9.284L30.3408 2.7152C30.4359 2.6212 30.5564 2.55704 30.6875 2.53061C30.8186 2.50418 30.9545 2.51663 31.0786 2.56644C31.2027 2.61625 31.3095 2.70123 31.386 2.81095C31.4624 2.92067 31.5051 3.05034 31.5088 3.184H31.5108V20.7964C31.5106 20.933 31.4697 21.0664 31.3934 21.1796C31.317 21.2929 31.2087 21.3808 31.0821 21.4321C30.9556 21.4835 30.8166 21.496 30.6829 21.4681C30.5493 21.4401 30.4269 21.373 30.3316 21.2752L18.964 14.712V20.7968C18.9638 20.9334 18.9229 21.0668 18.8466 21.18C18.7702 21.2933 18.6619 21.3812 18.5353 21.4325C18.4088 21.4839 18.2698 21.4964 18.1361 21.4685C18.0025 21.4405 17.8801 21.3734 17.7848 21.2756L4.4572 13.5808V22.9336H4.452C4.4528 22.9492 4.4568 22.9636 4.4568 22.9792C4.4567 23.2479 4.35001 23.5056 4.16014 23.6958C3.97027 23.886 3.71273 23.9931 3.444 23.9936H1.5032V23.984C1.36994 23.984 1.23798 23.9578 1.11485 23.9068C0.991734 23.8558 0.879866 23.781 0.785631 23.6868C0.691399 23.5925 0.616648 23.4807 0.565649 23.3575C0.51465 23.2344 0.488403 23.1025 0.488403 22.9692C0.488802 22.9508 0.493202 22.934 0.494003 22.9164Z"
                                                          fill="currentColor" />
                                                </svg>
                                                <span class="ms-2">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item ms-auto">
                                            <a href="#" class="btnNext">
                                                <span class="me-2">Next</span>
                                                <svg width="32" height="24" viewBox="0 0 32 24" fill="currentColor"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M31.5061 22.9164V1.0284L31.5065 1.0264L31.5061 1.0244V0.930402H31.4965C31.4733 0.679676 31.3574 0.446613 31.1715 0.276773C30.9856 0.106933 30.7431 0.0125247 30.4913 0.0120026C30.4793 0.0120026 30.4681 0.0152021 30.4565 0.0156021H28.6289C28.6005 0.0132021 28.5729 0.00720215 28.5437 0.00720215C28.2745 0.00730816 28.0165 0.114258 27.8262 0.304547C27.6359 0.494836 27.529 0.752893 27.5289 1.022C27.5289 1.0688 27.5365 1.114 27.5429 1.1592V10.4156L14.2065 2.7156C14.1114 2.6216 13.9909 2.55744 13.8598 2.531C13.7287 2.50457 13.5928 2.51703 13.4687 2.56684C13.3446 2.61664 13.2377 2.70163 13.1613 2.81135C13.0849 2.92107 13.0422 3.05074 13.0385 3.1844H13.0361V9.284L1.65926 2.7152C1.56416 2.6212 1.44366 2.55704 1.31259 2.53061C1.18151 2.50418 1.04556 2.51663 0.921467 2.56644C0.797373 2.61625 0.690541 2.70123 0.614108 2.81095C0.537675 2.92067 0.494975 3.05034 0.491258 3.184H0.489258V20.7964C0.489451 20.933 0.530331 21.0664 0.606682 21.1796C0.683033 21.2929 0.79139 21.3808 0.917927 21.4321C1.04446 21.4835 1.18344 21.496 1.31712 21.4681C1.45079 21.4401 1.57311 21.373 1.66846 21.2752L13.0361 14.712V20.7968C13.0363 20.9334 13.0771 21.0668 13.1535 21.18C13.2298 21.2933 13.3382 21.3812 13.4647 21.4325C13.5913 21.4839 13.7302 21.4964 13.8639 21.4685C13.9976 21.4405 14.1199 21.3734 14.2153 21.2756L27.5429 13.5808V22.9336H27.5481C27.5473 22.9492 27.5433 22.9636 27.5433 22.9792C27.5434 23.2479 27.6501 23.5056 27.8399 23.6958C28.0298 23.886 28.2873 23.9931 28.5561 23.9936H30.4969V23.984C30.6301 23.984 30.7621 23.9578 30.8852 23.9068C31.0083 23.8558 31.1202 23.781 31.2144 23.6868C31.3087 23.5925 31.3834 23.4807 31.4344 23.3575C31.4854 23.2344 31.5117 23.1025 31.5117 22.9692C31.5113 22.9508 31.5069 22.934 31.5061 22.9164Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="Tab-3">
                                    <p>Tab-3</p>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, laboriosam! Cumque blanditiis
                                        molestias, corrupti deleniti natus perferendis dignissimos fuga illum tempore earum esse explicabo
                                        quia quam animi libero consectetur repudiandae!
                                    </p>
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item me-auto">
                                            <a href="#" class="btnPrevious">
                                                <svg width="32" height="24" viewBox="0 0 32 24" fill="currentColor">
                                                    <path d="M0.494003 22.9164V1.0284L0.493603 1.0264L0.494003 1.0244V0.930402H0.503603C0.526802 0.679676 0.642672 0.446613 0.828564 0.276773C1.01446 0.106933 1.25701 0.0125247 1.5088 0.0120026C1.5208 0.0120026 1.532 0.0152021 1.5436 0.0156021H3.3712C3.3996 0.0132021 3.4272 0.00720215 3.4564 0.00720215C3.72551 0.00730816 3.98357 0.114258 4.17386 0.304547C4.36415 0.494836 4.4711 0.752893 4.4712 1.022C4.4712 1.0688 4.4636 1.114 4.4572 1.1592V10.4156L17.7936 2.7156C17.8887 2.6216 18.0092 2.55744 18.1403 2.531C18.2714 2.50457 18.4073 2.51703 18.5314 2.56684C18.6555 2.61664 18.7623 2.70163 18.8388 2.81135C18.9152 2.92107 18.9579 3.05074 18.9616 3.1844H18.964V9.284L30.3408 2.7152C30.4359 2.6212 30.5564 2.55704 30.6875 2.53061C30.8186 2.50418 30.9545 2.51663 31.0786 2.56644C31.2027 2.61625 31.3095 2.70123 31.386 2.81095C31.4624 2.92067 31.5051 3.05034 31.5088 3.184H31.5108V20.7964C31.5106 20.933 31.4697 21.0664 31.3934 21.1796C31.317 21.2929 31.2087 21.3808 31.0821 21.4321C30.9556 21.4835 30.8166 21.496 30.6829 21.4681C30.5493 21.4401 30.4269 21.373 30.3316 21.2752L18.964 14.712V20.7968C18.9638 20.9334 18.9229 21.0668 18.8466 21.18C18.7702 21.2933 18.6619 21.3812 18.5353 21.4325C18.4088 21.4839 18.2698 21.4964 18.1361 21.4685C18.0025 21.4405 17.8801 21.3734 17.7848 21.2756L4.4572 13.5808V22.9336H4.452C4.4528 22.9492 4.4568 22.9636 4.4568 22.9792C4.4567 23.2479 4.35001 23.5056 4.16014 23.6958C3.97027 23.886 3.71273 23.9931 3.444 23.9936H1.5032V23.984C1.36994 23.984 1.23798 23.9578 1.11485 23.9068C0.991734 23.8558 0.879866 23.781 0.785631 23.6868C0.691399 23.5925 0.616648 23.4807 0.565649 23.3575C0.51465 23.2344 0.488403 23.1025 0.488403 22.9692C0.488802 22.9508 0.493202 22.934 0.494003 22.9164Z"
                                                          fill="currentColor" />
                                                </svg>
                                                <span class="ms-2">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item ms-auto">
                                            <a href="#" class="btnNext">
                                                <span class="me-2">Next</span>
                                                <svg width="32" height="24" viewBox="0 0 32 24" fill="currentColor"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M31.5061 22.9164V1.0284L31.5065 1.0264L31.5061 1.0244V0.930402H31.4965C31.4733 0.679676 31.3574 0.446613 31.1715 0.276773C30.9856 0.106933 30.7431 0.0125247 30.4913 0.0120026C30.4793 0.0120026 30.4681 0.0152021 30.4565 0.0156021H28.6289C28.6005 0.0132021 28.5729 0.00720215 28.5437 0.00720215C28.2745 0.00730816 28.0165 0.114258 27.8262 0.304547C27.6359 0.494836 27.529 0.752893 27.5289 1.022C27.5289 1.0688 27.5365 1.114 27.5429 1.1592V10.4156L14.2065 2.7156C14.1114 2.6216 13.9909 2.55744 13.8598 2.531C13.7287 2.50457 13.5928 2.51703 13.4687 2.56684C13.3446 2.61664 13.2377 2.70163 13.1613 2.81135C13.0849 2.92107 13.0422 3.05074 13.0385 3.1844H13.0361V9.284L1.65926 2.7152C1.56416 2.6212 1.44366 2.55704 1.31259 2.53061C1.18151 2.50418 1.04556 2.51663 0.921467 2.56644C0.797373 2.61625 0.690541 2.70123 0.614108 2.81095C0.537675 2.92067 0.494975 3.05034 0.491258 3.184H0.489258V20.7964C0.489451 20.933 0.530331 21.0664 0.606682 21.1796C0.683033 21.2929 0.79139 21.3808 0.917927 21.4321C1.04446 21.4835 1.18344 21.496 1.31712 21.4681C1.45079 21.4401 1.57311 21.373 1.66846 21.2752L13.0361 14.712V20.7968C13.0363 20.9334 13.0771 21.0668 13.1535 21.18C13.2298 21.2933 13.3382 21.3812 13.4647 21.4325C13.5913 21.4839 13.7302 21.4964 13.8639 21.4685C13.9976 21.4405 14.1199 21.3734 14.2153 21.2756L27.5429 13.5808V22.9336H27.5481C27.5473 22.9492 27.5433 22.9636 27.5433 22.9792C27.5434 23.2479 27.6501 23.5056 27.8399 23.6958C28.0298 23.886 28.2873 23.9931 28.5561 23.9936H30.4969V23.984C30.6301 23.984 30.7621 23.9578 30.8852 23.9068C31.0083 23.8558 31.1202 23.781 31.2144 23.6868C31.3087 23.5925 31.3834 23.4807 31.4344 23.3575C31.4854 23.2344 31.5117 23.1025 31.5117 22.9692C31.5113 22.9508 31.5069 22.934 31.5061 22.9164Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="Tab-4">
                                    <p>Tab-4</p>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, laboriosam! Cumque blanditiis
                                        molestias, corrupti deleniti natus perferendis dignissimos fuga illum tempore earum esse explicabo
                                        quia quam animi libero consectetur repudiandae!
                                    </p>
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item me-auto">
                                            <a href="#" class="btnPrevious">
                                                <svg width="32" height="24" viewBox="0 0 32 24" fill="currentColor">
                                                    <path d="M0.494003 22.9164V1.0284L0.493603 1.0264L0.494003 1.0244V0.930402H0.503603C0.526802 0.679676 0.642672 0.446613 0.828564 0.276773C1.01446 0.106933 1.25701 0.0125247 1.5088 0.0120026C1.5208 0.0120026 1.532 0.0152021 1.5436 0.0156021H3.3712C3.3996 0.0132021 3.4272 0.00720215 3.4564 0.00720215C3.72551 0.00730816 3.98357 0.114258 4.17386 0.304547C4.36415 0.494836 4.4711 0.752893 4.4712 1.022C4.4712 1.0688 4.4636 1.114 4.4572 1.1592V10.4156L17.7936 2.7156C17.8887 2.6216 18.0092 2.55744 18.1403 2.531C18.2714 2.50457 18.4073 2.51703 18.5314 2.56684C18.6555 2.61664 18.7623 2.70163 18.8388 2.81135C18.9152 2.92107 18.9579 3.05074 18.9616 3.1844H18.964V9.284L30.3408 2.7152C30.4359 2.6212 30.5564 2.55704 30.6875 2.53061C30.8186 2.50418 30.9545 2.51663 31.0786 2.56644C31.2027 2.61625 31.3095 2.70123 31.386 2.81095C31.4624 2.92067 31.5051 3.05034 31.5088 3.184H31.5108V20.7964C31.5106 20.933 31.4697 21.0664 31.3934 21.1796C31.317 21.2929 31.2087 21.3808 31.0821 21.4321C30.9556 21.4835 30.8166 21.496 30.6829 21.4681C30.5493 21.4401 30.4269 21.373 30.3316 21.2752L18.964 14.712V20.7968C18.9638 20.9334 18.9229 21.0668 18.8466 21.18C18.7702 21.2933 18.6619 21.3812 18.5353 21.4325C18.4088 21.4839 18.2698 21.4964 18.1361 21.4685C18.0025 21.4405 17.8801 21.3734 17.7848 21.2756L4.4572 13.5808V22.9336H4.452C4.4528 22.9492 4.4568 22.9636 4.4568 22.9792C4.4567 23.2479 4.35001 23.5056 4.16014 23.6958C3.97027 23.886 3.71273 23.9931 3.444 23.9936H1.5032V23.984C1.36994 23.984 1.23798 23.9578 1.11485 23.9068C0.991734 23.8558 0.879866 23.781 0.785631 23.6868C0.691399 23.5925 0.616648 23.4807 0.565649 23.3575C0.51465 23.2344 0.488403 23.1025 0.488403 22.9692C0.488802 22.9508 0.493202 22.934 0.494003 22.9164Z"
                                                          fill="currentColor" />
                                                </svg>
                                                <span class="ms-2">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item ms-auto">
                                            <a href="#" class="btnNext">
                                                <span class="me-2">Next</span>
                                                <svg width="32" height="24" viewBox="0 0 32 24" fill="currentColor"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M31.5061 22.9164V1.0284L31.5065 1.0264L31.5061 1.0244V0.930402H31.4965C31.4733 0.679676 31.3574 0.446613 31.1715 0.276773C30.9856 0.106933 30.7431 0.0125247 30.4913 0.0120026C30.4793 0.0120026 30.4681 0.0152021 30.4565 0.0156021H28.6289C28.6005 0.0132021 28.5729 0.00720215 28.5437 0.00720215C28.2745 0.00730816 28.0165 0.114258 27.8262 0.304547C27.6359 0.494836 27.529 0.752893 27.5289 1.022C27.5289 1.0688 27.5365 1.114 27.5429 1.1592V10.4156L14.2065 2.7156C14.1114 2.6216 13.9909 2.55744 13.8598 2.531C13.7287 2.50457 13.5928 2.51703 13.4687 2.56684C13.3446 2.61664 13.2377 2.70163 13.1613 2.81135C13.0849 2.92107 13.0422 3.05074 13.0385 3.1844H13.0361V9.284L1.65926 2.7152C1.56416 2.6212 1.44366 2.55704 1.31259 2.53061C1.18151 2.50418 1.04556 2.51663 0.921467 2.56644C0.797373 2.61625 0.690541 2.70123 0.614108 2.81095C0.537675 2.92067 0.494975 3.05034 0.491258 3.184H0.489258V20.7964C0.489451 20.933 0.530331 21.0664 0.606682 21.1796C0.683033 21.2929 0.79139 21.3808 0.917927 21.4321C1.04446 21.4835 1.18344 21.496 1.31712 21.4681C1.45079 21.4401 1.57311 21.373 1.66846 21.2752L13.0361 14.712V20.7968C13.0363 20.9334 13.0771 21.0668 13.1535 21.18C13.2298 21.2933 13.3382 21.3812 13.4647 21.4325C13.5913 21.4839 13.7302 21.4964 13.8639 21.4685C13.9976 21.4405 14.1199 21.3734 14.2153 21.2756L27.5429 13.5808V22.9336H27.5481C27.5473 22.9492 27.5433 22.9636 27.5433 22.9792C27.5434 23.2479 27.6501 23.5056 27.8399 23.6958C28.0298 23.886 28.2873 23.9931 28.5561 23.9936H30.4969V23.984C30.6301 23.984 30.7621 23.9578 30.8852 23.9068C31.0083 23.8558 31.1202 23.781 31.2144 23.6868C31.3087 23.5925 31.3834 23.4807 31.4344 23.3575C31.4854 23.2344 31.5117 23.1025 31.5117 22.9692C31.5113 22.9508 31.5069 22.934 31.5061 22.9164Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="Tab-5">
                                    <p>Tab-5</p>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, laboriosam! Cumque blanditiis
                                        molestias, corrupti deleniti natus perferendis dignissimos fuga illum tempore earum esse explicabo
                                        quia quam animi libero consectetur repudiandae!
                                    </p>
                                    <ul class="pagination justify-content-between">
                                        <li class="page-item me-auto">
                                            <a href="#" class="btnPrevious">
                                                <svg width="32" height="24" viewBox="0 0 32 24" fill="currentColor">
                                                    <path d="M0.494003 22.9164V1.0284L0.493603 1.0264L0.494003 1.0244V0.930402H0.503603C0.526802 0.679676 0.642672 0.446613 0.828564 0.276773C1.01446 0.106933 1.25701 0.0125247 1.5088 0.0120026C1.5208 0.0120026 1.532 0.0152021 1.5436 0.0156021H3.3712C3.3996 0.0132021 3.4272 0.00720215 3.4564 0.00720215C3.72551 0.00730816 3.98357 0.114258 4.17386 0.304547C4.36415 0.494836 4.4711 0.752893 4.4712 1.022C4.4712 1.0688 4.4636 1.114 4.4572 1.1592V10.4156L17.7936 2.7156C17.8887 2.6216 18.0092 2.55744 18.1403 2.531C18.2714 2.50457 18.4073 2.51703 18.5314 2.56684C18.6555 2.61664 18.7623 2.70163 18.8388 2.81135C18.9152 2.92107 18.9579 3.05074 18.9616 3.1844H18.964V9.284L30.3408 2.7152C30.4359 2.6212 30.5564 2.55704 30.6875 2.53061C30.8186 2.50418 30.9545 2.51663 31.0786 2.56644C31.2027 2.61625 31.3095 2.70123 31.386 2.81095C31.4624 2.92067 31.5051 3.05034 31.5088 3.184H31.5108V20.7964C31.5106 20.933 31.4697 21.0664 31.3934 21.1796C31.317 21.2929 31.2087 21.3808 31.0821 21.4321C30.9556 21.4835 30.8166 21.496 30.6829 21.4681C30.5493 21.4401 30.4269 21.373 30.3316 21.2752L18.964 14.712V20.7968C18.9638 20.9334 18.9229 21.0668 18.8466 21.18C18.7702 21.2933 18.6619 21.3812 18.5353 21.4325C18.4088 21.4839 18.2698 21.4964 18.1361 21.4685C18.0025 21.4405 17.8801 21.3734 17.7848 21.2756L4.4572 13.5808V22.9336H4.452C4.4528 22.9492 4.4568 22.9636 4.4568 22.9792C4.4567 23.2479 4.35001 23.5056 4.16014 23.6958C3.97027 23.886 3.71273 23.9931 3.444 23.9936H1.5032V23.984C1.36994 23.984 1.23798 23.9578 1.11485 23.9068C0.991734 23.8558 0.879866 23.781 0.785631 23.6868C0.691399 23.5925 0.616648 23.4807 0.565649 23.3575C0.51465 23.2344 0.488403 23.1025 0.488403 22.9692C0.488802 22.9508 0.493202 22.934 0.494003 22.9164Z"
                                                          fill="currentColor" />
                                                </svg>
                                                <span class="ms-2">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item ms-auto">
                                            <a href="#" class="btnNext">
                                                <span class="me-2">Next</span>
                                                <svg width="32" height="24" viewBox="0 0 32 24" fill="currentColor"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M31.5061 22.9164V1.0284L31.5065 1.0264L31.5061 1.0244V0.930402H31.4965C31.4733 0.679676 31.3574 0.446613 31.1715 0.276773C30.9856 0.106933 30.7431 0.0125247 30.4913 0.0120026C30.4793 0.0120026 30.4681 0.0152021 30.4565 0.0156021H28.6289C28.6005 0.0132021 28.5729 0.00720215 28.5437 0.00720215C28.2745 0.00730816 28.0165 0.114258 27.8262 0.304547C27.6359 0.494836 27.529 0.752893 27.5289 1.022C27.5289 1.0688 27.5365 1.114 27.5429 1.1592V10.4156L14.2065 2.7156C14.1114 2.6216 13.9909 2.55744 13.8598 2.531C13.7287 2.50457 13.5928 2.51703 13.4687 2.56684C13.3446 2.61664 13.2377 2.70163 13.1613 2.81135C13.0849 2.92107 13.0422 3.05074 13.0385 3.1844H13.0361V9.284L1.65926 2.7152C1.56416 2.6212 1.44366 2.55704 1.31259 2.53061C1.18151 2.50418 1.04556 2.51663 0.921467 2.56644C0.797373 2.61625 0.690541 2.70123 0.614108 2.81095C0.537675 2.92067 0.494975 3.05034 0.491258 3.184H0.489258V20.7964C0.489451 20.933 0.530331 21.0664 0.606682 21.1796C0.683033 21.2929 0.79139 21.3808 0.917927 21.4321C1.04446 21.4835 1.18344 21.496 1.31712 21.4681C1.45079 21.4401 1.57311 21.373 1.66846 21.2752L13.0361 14.712V20.7968C13.0363 20.9334 13.0771 21.0668 13.1535 21.18C13.2298 21.2933 13.3382 21.3812 13.4647 21.4325C13.5913 21.4839 13.7302 21.4964 13.8639 21.4685C13.9976 21.4405 14.1199 21.3734 14.2153 21.2756L27.5429 13.5808V22.9336H27.5481C27.5473 22.9492 27.5433 22.9636 27.5433 22.9792C27.5434 23.2479 27.6501 23.5056 27.8399 23.6958C28.0298 23.886 28.2873 23.9931 28.5561 23.9936H30.4969V23.984C30.6301 23.984 30.7621 23.9578 30.8852 23.9068C31.0083 23.8558 31.1202 23.781 31.2144 23.6868C31.3087 23.5925 31.3834 23.4807 31.4344 23.3575C31.4854 23.2344 31.5117 23.1025 31.5117 22.9692C31.5113 22.9508 31.5069 22.934 31.5061 22.9164Z"
                                                          fill="currentColor" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/custom.js"></script>
    <script>
     
        $(document).ready(function () {
            $('#alertButton').click(function () {
                showAlert();
            });
        });

        function showAlert() {
            alert('Hello, this is an alert!');
        }

    </script>


    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/StudentAPI/GetAllStudents",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //alert(JSON.stringify(data));
                    $("#DIV").html('');
                    var DIV = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>" +
                            "<td id='RegdNo'>" + item.regNo + "</td>" +
                            "<td id='Name'>" + item.name + "</td>" +
                            "<td id='Address'>" + item.address + "</td>" +
                            "<td id='PhoneNo'>" + item.phoneNo + "</td>" +
                            "<td id='AdmissionDate'>" + Date(item.admissionDate,
                                "dd-MM-yyyy") + "</td>" +
                            "</tr>";
                        $('#Table').append(rows);
                    }); //End of foreach Loop
                    console.log(data);
                }, //End of AJAX Success function

                failure: function (data) {
                    alert(data.responseText);
                }, //End of AJAX failure function
                error: function (data) {
                    alert(data.responseText);
                } //End of AJAX error function

            });
        });
    </script>
</body>

</html>