   
@media screen and (max-width: 1480px) {
.navbar-nav .nav-item {padding: 0px 8px;}    
.navbar-nav li a{ font-size: 14px;}
.user-single-info a{ font-size: 14px;}  
}

@media screen and (max-width: 1199px) {
.header-logo {margin-right: 10px;}
.navbar-nav .nav-item {padding: 0px 4px;}    
.navbar-nav li a {font-size: 12px;}
.user-single-info a{ font-size: 12px;}    
}

@media screen and (max-width: 991px) {
.navbar-nav { display: block;}
.navbar-nav .nav-item {
    padding: 0px 0px;
    border-bottom: 1px solid #ccc;
}
.navbar-nav li .nav-link {padding: 10px 10px;color: var(--black);font-size: 15px; display: flex;}
.navbar-nav li .nav-link i{ margin-left: auto;}
.navbar-nav .nav-item .dropdown-menu li a{ color: var(--bs-white);}
.navbar-nav .nav-item .dropdown-menu{ width: 100%;}

.navbar-nav .dropdown-menu {position: static !important;transform: translate3d(0px, 10px, 0px) !important;margin-top: 5px !important;}
.dropdown-menu.submenus.show .dropdown .dropdown-menu {display: block;background: #4d4d4d;}
.dropdown-menu.submenus.show .dropdown .dropdown-menu li {padding-left: 24px;}
.navbar-nav .nav-item .dropdown-menu li a i {transform: rotate(90deg);}

/* .app-sidebar{transform: translateX(-100%);top: 0;width: 280px;z-index: 1050;max-width: 100%;} */
.app-sidebar{ flex: 0 0 100%; max-width: 100%; margin-bottom: 30px;}
.content-area {width: 100%;padding-left: 0;}
.app-sidebar .list-unstyled {display: flex; white-space: nowrap;overflow-x: auto; flex-wrap: nowrap;}

.app-sidebar.show {transform: none;}
.header-logo {width: 70px;padding: 5px 10px;}
.header-logo img {max-width: 50px;}
.navbar-full {padding: 10px 15px;}
.ic-avatar .avatar-right {display: none;}
/* .sidebar-inner {height: 100svh;padding: 12px 0px 100px 0px;} */
.dashaboard-content {margin-left: 0;margin-top: 60px;}
.top-search-area .btn.btn-primary {margin-top: 15px;font-size: 14px;padding: 8px 15px;}

.dashboard-header .offcanvas{ height: 100%; overflow-y: auto; width: 280px;}
.user-single-info a {font-size: 16px;}

}

@media screen and (max-width: 991px) {

}

   
   
     
   
     
     
       
       
       
       